# Build  the Docker image 
# push the image to Docker Hub
#  braches:[main, dev]
 #  uses: actions/checkout@v3  -- checkout the codebase on ubuntu-latest
 # uses: actions/checkout@v3  --> ye cmd kya karega clone you code base  on ubuntu-latest machine 
#  uses: docker/login-action@v2  --> ye cmd kya karega docker hub pr login krne k liye 

# username: ${{ secrets.DOCKER_HUB_USERNAME }} its variable pineline stored in github secrets 
# Go to repo setting --> secrets and variables --> actions --> new repository secret


name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

